@page "/services"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using practice_blazor.Models
@using practice_blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<practice_blazor.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="services/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Service">
    <PropertyColumn Property="service => service.CategoryName" />
    <PropertyColumn Property="service => service.ServicePrice" />

    <TemplateColumn Context="service">
        <a href="@($"services/edit?id={service.Id}")">Edit</a> |
        <a href="@($"services/details?id={service.Id}")">Details</a> |
        <a href="@($"services/delete?id={service.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
