@page "/tools/create"
@using Microsoft.EntityFrameworkCore
@using practice_blazor.Models
@inject IDbContextFactory<practice_blazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Tools</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Tools" OnValidSubmit="AddTools" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="toolname" class="form-label">Tool Name:</label> 
                <InputText id="toolname" @bind-Value="Tools.toolName" class="form-control" /> 
                <ValidationMessage For="() => Tools.toolName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Tools.status" class="form-control" /> 
                <ValidationMessage For="() => Tools.status" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tools">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Tools Tools { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTools()
    {
        using var context = DbFactory.CreateDbContext();
        context.Tools.Add(Tools);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tools");
    }
}
