@page "/tools/details"
@using Microsoft.EntityFrameworkCore
@using practice_blazor.Models
@inject IDbContextFactory<practice_blazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Tools</h2>
    <hr />
    @if (tools is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">toolName</dt>
            <dd class="col-sm-10">@tools.toolName</dd>
            <dt class="col-sm-2">status</dt>
            <dd class="col-sm-10">@tools.status</dd>
        </dl>
        <div>
            <a href="@($"/tools/edit?id={tools.id}")">Edit</a> |
            <a href="@($"/tools")">Back to List</a>
        </div>
    }
</div>

@code {
    private Tools? tools;

    [SupplyParameterFromQuery]
    private Guid id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        tools = await context.Tools.FirstOrDefaultAsync(m => m.id == id);

        if (tools is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
