@page "/tools"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using practice_blazor.Models
@using practice_blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<practice_blazor.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="tools/create">Create New</a>
</p>

<QuickGrid Class="table" Items="@availableTools">
    <PropertyColumn Property="tools => tools.toolName" />
    <PropertyColumn Property="tools => tools.status" />

    <TemplateColumn Context="tools">
        <a href="@($"tools/edit?id={tools.id}")">Edit</a> |
        <a href="@($"tools/details?id={tools.id}")">Details</a> |
        <a href="@($"tools/delete?id={tools.id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<Tools> availableTools = Enumerable.Empty<Tools>().AsQueryable();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        availableTools = context.Tools.Where(t => t.status == "Available");
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
