@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Alexis Construction Services</h1>

Alexis Construction Service offers:
<ul>
    <li>
        Plumbing
    </li>
     <li>
        Electrical
    </li>
    <li>
        Masonry
    </li>
    <li>
        Carpentry Works
    </li>
    <li>
        Others
    </li>
</ul>
