<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alexis Construction</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Clients
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Services
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointments">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bookings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tools">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reports
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedules">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>

        
    </nav>
</div>

