@page "/clients/delete"
@using Microsoft.EntityFrameworkCore
@using practice_blazor.Models
@inject IDbContextFactory<practice_blazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Clients</h2>
    <hr />
    @if (clients is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ClientName</dt>
            <dd class="col-sm-10">@clients.ClientName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Birthday</dt>
            <dd class="col-sm-10">@clients.Birthday</dd>
        </dl>
        <EditForm method="post" Model="clients" OnValidSubmit="DeleteClients" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(clients is null)">Delete</button> |
            <a href="/clients">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Clients? clients;

    [SupplyParameterFromQuery]
    private Guid id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        clients = await context.Clients.FirstOrDefaultAsync(m => m.id == id);

        if (clients is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteClients()
    {
        using var context = DbFactory.CreateDbContext();
        context.Clients.Remove(clients!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/clients");
    }
}
